In [8]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt #plotting library for the Python programming language
#and its numerical mathematics extension NumPy

In [2]:
#!pip install nltk
import nltk
#!pip install Cython 
#Cython is a programming language that aims to be a superset of the Python programming language, 
#designed to give C-like performance with code that is written mostly in Python

In [1]:
#building a corpus of documents
corpus=['The sky is blue and beautiful.',
       'Love this blue and beautiful sky!',
       'The quick brown fox jumps over the lazy dog.',
       "A king's breakfast has sausages, ham, bacon, eggs, toast, beans",
       'I love green eggs, ham, sausages and bacon!',
       'The brown fox is quick and the blue dog is lazy!',
       'The sky is very blue and the sky is very beautiful today',
       'The dog is lazy but the brown fox is quick!']

In [2]:
corpus

['The sky is blue and beautiful.',
 'Love this blue and beautiful sky!',
 'The quick brown fox jumps over the lazy dog.',
 "A king's breakfast has sausages, ham, bacon, eggs, toast, beans",
 'I love green eggs, ham, sausages and bacon!',
 'The brown fox is quick and the blue dog is lazy!',
 'The sky is very blue and the sky is very beautiful today',
 'The dog is lazy but the brown fox is quick!']

In [3]:
len(corpus)

8

In [13]:
labels=['weather', 'weather', 'animals', 'food', 'food','animals', 'weather','animals']

In [14]:
labels

['weather',
 'weather',
 'animals',
 'food',
 'food',
 'animals',
 'weather',
 'animals']

In [6]:
type(labels)

list

In [9]:
corpus = np.array(corpus)
corpus

array(['The sky is blue and beautiful.',
       'Love this blue and beautiful sky!',
       'The quick brown fox jumps over the lazy dog.',
       "A king's breakfast has sausages, ham, bacon, eggs, toast, beans",
       'I love green eggs, ham, sausages and bacon!',
       'The brown fox is quick and the blue dog is lazy!',
       'The sky is very blue and the sky is very beautiful today',
       'The dog is lazy but the brown fox is quick!'], dtype='<U63')

In [15]:
corpus_df = pd.DataFrame (corpus,labels)

In [10]:
corpus_df

                                                         0
weather                     The sky is blue and beautiful.
weather                  Love this blue and beautiful sky!
animals       The quick brown fox jumps over the lazy dog.
food     A king's breakfast has sausages, ham, bacon, e...
food           I love green eggs, ham, sausages and bacon!
animals   The brown fox is quick and the blue dog is lazy!
weather  The sky is very blue and the sky is very beaut...
animals        The dog is lazy but the brown fox is quick!

In [16]:
corpus_df = pd.DataFrame ({'Document': corpus,'Category':labels})

In [17]:
corpus_df

                                            Document Category
0                     The sky is blue and beautiful.  weather
1                  Love this blue and beautiful sky!  weather
2       The quick brown fox jumps over the lazy dog.  animals
3  A king's breakfast has sausages, ham, bacon, e...     food
4        I love green eggs, ham, sausages and bacon!     food
5   The brown fox is quick and the blue dog is lazy!  animals
6  The sky is very blue and the sky is very beaut...  weather
7        The dog is lazy but the brown fox is quick!  animals

In [18]:
corpus_df = corpus_df[['Document','Category']]
corpus_df

                                            Document Category
0                     The sky is blue and beautiful.  weather
1                  Love this blue and beautiful sky!  weather
2       The quick brown fox jumps over the lazy dog.  animals
3  A king's breakfast has sausages, ham, bacon, e...     food
4        I love green eggs, ham, sausages and bacon!     food
5   The brown fox is quick and the blue dog is lazy!  animals
6  The sky is very blue and the sky is very beaut...  weather
7        The dog is lazy but the brown fox is quick!  animals

In [19]:
corpus.nbytes

2016

In [20]:
corpus_df.memory_usage()

Index       128
Document     64
Category     64
dtype: int64