In [1]:
#Regular Expression re
#Import Libraries
import re

In [2]:
#Method 1. Match only looks at the first pattern - only local search

In [3]:
sentence1="I was born in 1982"
sent1=""

In [4]:
re.match(r".*",sent1) #1 .* any zero or more character

In [5]:
re.match(r".+",sent1) #2.+ any one or more character

In [14]:
sentence2="2 Today is 4th of August 2020"

In [16]:
re.match(r"[2].+",sentence2)

In [8]:
sentence1="I was born in 1982"
re.match(r"[a-zA-Z]+",sentence1) #3 match first character

In [9]:
sentence3="abbb"
re.match(r"ab?",sentence3) #? after matching a only one b is allowed

In [13]:
sentence4="I was born in the year 1982"
re.match(r"[a-zA-z]+",sentence4)

In [18]:
sentence4="1982 was the year I was born"
re.match(r"[a-zA-Z]+",sentence4)

In [ ]:
#Method 2. Search  looks for the pattern anywhere in the string

In [21]:
#Search vs. Match output
sentence4="1982 was the year I was born"
re.search(r"[a-zA-z]+",sentence4)

In [26]:
sentence4="1983 was the year I was born"

In [28]:
#starts with a specific character
if re.match(r"^1982",sentence4):
    print ("starts with 1982")
else:
    print ("no match")

no match

In [29]:
#ends with a specific character
if re.search(r"1982$",sentence1):
    print ("match")
else:
    print ("no match")

match

In [ ]:
#Method 3. Substitute replace found patterns with specific characters

In [30]:
#substitute text
sentence5="I Love Avengers"
sentence5=(re.sub(r"Avengers","Justice League",sentence5))

In [31]:
sentence5

'I Love Justice League'

In [33]:
sentence5="I Love Avengers"
sentence5=(re.sub(r"Avengerss","Justice League",sentence5))
sentence5

'I Love Avengers'

In [34]:
sentence6="I Love Avengers Avengers"
print (re.sub(r"avengers","Justice League",sentence6,flags=re.I))

I Love Justice League Justice League

In [35]:
#Use the Flag argument to make it case insensitive
sentence7="I Love Avengers Avengers"
print (re.sub(r"[a-z]","0",sentence7, flags=re.I))

0 0000 00000000 00000000

In [36]:
#Another argument is count so identify the count of characters to search
#instead of all matching chacarecters
sentence8="I Love Avengers Avengers"
print (re.sub(r"[a-z]","0",sentence8,2, flags=re.I))

0 0ove Avengers Avengers

In [44]:
#Shortened character classes
sentence9="Welcome to the year 2020"
sentence10="Just #$#++++---- arrived at @ jack's place. #fun"
sentence11="I      love      you"

In [38]:
sentence9_modified=re.sub(r"\d","",sentence9) #remove digits

In [39]:
sentence9_modified

'Welcome to the year '

In [40]:
sentence10_modified=re.sub(r"[!#$+-@.']","",sentence10)

In [41]:
sentence10_modified

'Just  arrived at  jacks place fun'

In [46]:
sentence11_modified=re.sub(r"[!#$+-@\.\']"," ",sentence10)
sentence11_modified

'Just             arrived at   jack s place   fun'

In [47]:
sentence10_modified=re.sub(r"\w","",sentence10) #a-zA-Z0-9
sentence10_modified

" #$#++++----   @ ' . #"

In [48]:
sentence10_modified=re.sub(r"\W"," ",sentence10) 
sentence10_modified

'Just             arrived at   jack s place   fun'

In [49]:
sentence10_modified=re.sub(r"\s+"," ",sentence10_modified)  #replace one or more space with one
sentence10_modified

'Just arrived at jack s place fun'

In [50]:
sentence10_modified=re.sub(r"\s+[a-zA-Z]\s+"," ",sentence10_modified)  #remove single character
sentence10_modified

'Just arrived at jack place fun'

In [51]:
sentence11_modified=re.sub(r"\s+"," ",sentence11)  #remove white spaces
sentence11_modified

'I love you'

In [52]:
sentence11_modified=re.sub(r"\s+love\s+"," hate ",sentence11_modified)  #replce love with hate

In [53]:
sentence11_modified

'I hate you'

### Advanced Regex

#### Match any character with.

In [54]:
import re
text = "I would like to find all patterns I define on https://wwww.medium.com"
re.findall(r"https://.+",text)

['https://wwww.medium.com']

#### Raising the Anchor, the ^ Anchor

In [55]:
anchor = 'The ship set sail on the ocean'
anchor_n = 'Ships set sail on the ocean to go places'

In [56]:
anchor01 = re.findall('^[Tt]he', anchor)
print(anchor01)

['The']

In [57]:
anchor02 = re.findall('^[Tt]he', anchor_n)
print(anchor02) #because The is not the beginning of the sentence

[]

#### Dropping the Anchor, the "$" Anchor

In [58]:
anchor03 = re.findall('ocean$', anchor)
print(anchor03)

['ocean']

In [59]:
anchor04 = re.findall('ocean$', anchor_n)
print(anchor04) #because ocean is not at the end

[]

### Regex Negation (Avoiding Icebergs) - telling regex what not to match

#### Capital Meta Characters

In [60]:
negation = 'I sail my 3 ships on the 7 seas.'
negation01 = re.findall('\S', negation)
print(negation01) #\S: This will match anything EXCEPT spaces

['I', 's', 'a', 'i', 'l', 'm', 'y', '3', 's', 'h', 'i', 'p', 's', 'o', 'n', 't', 'h', 'e', '7', 's', 'e', 'a', 's', '.']

In [61]:
negation02 = re.findall('\W', negation)
print(negation02)
#\W: This will match anything EXCEPT letters and numbers.

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '.']

In [62]:
negation03 = re.findall('\D', negation)
print(negation03)
#\D: This will match anything EXCEPT numbers.

['I', ' ', 's', 'a', 'i', 'l', ' ', 'm', 'y', ' ', ' ', 's', 'h', 'i', 'p', 's', ' ', 'o', 'n', ' ', 't', 'h', 'e', ' ', ' ', 's', 'e', 'a', 's', '.']

#### ^ and Character Sets

In [63]:
#Match all consonants in a given string. There are 21 consonants in the alphabet
negation04 = re.findall('[AEIOUaeiou]', negation)
print(negation04) #any of the vowels are matched

['I', 'a', 'i', 'i', 'o', 'e', 'e', 'a']

In [64]:
negation05 = re.findall('[^AEIOUaeiou]', negation)
print(negation05)

[' ', 's', 'l', ' ', 'm', 'y', ' ', '3', ' ', 's', 'h', 'p', 's', ' ', 'n', ' ', 't', 'h', ' ', '7', ' ', 's', 's', '.']

In [65]:
negation06 = re.findall('[^AEIOUaeiou\s\d\.]', negation)
print(negation06)

['s', 'l', 'm', 'y', 's', 'h', 'p', 's', 'n', 't', 'h', 's', 's']

#### Look Arounds (Viewing the Wildlife) - Lookahead After/Before the Match

#### Lookaround

In [79]:
lookaround = 'A penguin costs 250.99, a whale costs 5.99, I only have 3.50 left.'

    What is the cost of each animal?
    What animals are for sale?

In [80]:
lookaround01 = re.findall('\d+\.\d{2}', lookaround)
lookaround01

['250.99', '5.99', '3.50']

#### Look Behinds

In [72]:
look_behind01 = re.findall('(?<=costs)\s\d\.\d{2}', lookaround)
look_behind01 # (\s is added to account for the space between the word and the numbers)

[' 2.99', ' 5.99']

#### Look Aheads

In [73]:
look_ahead01 = re.findall('\w+\s(?=costs)', lookaround)
look_ahead01 #To get the animal names from our string

['penguin ', 'whale ']

##### Creating an Animal Prices Data Frame

In [81]:
import pandas as pd
animal_prices = {'animals': look_ahead01, 'prices': look_behind01}
animal_prices_df = pd.DataFrame(animal_prices)
animal_prices_df

    animals prices
0  penguin    2.99
1    whale    5.99

In [82]:
#Our next step is to take care of those extra spaces.
animal_prices_df['animals'] = [animal.strip() for animal in animal_prices_df['animals']]
animal_prices_df['prices'] = [price.strip() for price in animal_prices_df['prices']]

In [83]:
animal_prices_df

   animals prices
0  penguin   2.99
1    whale   5.99